{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "NEP_API_KEY": "change-me-before-deploying",
    "NEP_PRICE": "7258",
    "NEP_YEAR": "2025-26"
  }
}
